<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
       h1
      {
         text-align: center;
         
      }
      body,html
      {
         padding: 0px;
         margin:0px;
         font-family: 'Bruno Ace SC', cursive;
         color:black;
      }
      html{
            scroll-behavior: smooth;
            font-family: tahoma;
        }
      .b1 {
         height: auto;
         width: 100%;
         border: 1px solid;
         overflow: hidden;
         background-color: #4267B2;
        }
      .b1  ol li
      {

         display: inline-block;
      }
      nav {
        background-color: #4267B2;
        overflow: hidden;
        float: right;
      }

      nav a {
       
        display: inline-block;
        color: white;
        text-align: center;
        padding: 2px 16px;
        text-decoration: none;
      }

      nav a:hover {
        background-color: #ddd;
        color: black;
      }
      /* .b1 nav
      {
        float: right;
      } */
       li
       {
        padding-right:105px;
        padding-left:105px;
       }
        a
       {
        text-decoration: none;
       }
       .b2
       {
        margin:auto;
          width:400px;
          height:250px;
          margin-top: 50px;
          padding-top: 10px;
          padding-bottom: 10px;
          /* padding-left: -10px; */
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
          border-radius: 15px;
         /* background-color: aqua;*/
         color:white;
         
background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       }
       .ex{
        margin-left: 20%;
        margin-top: 10%;
       }

       tr,td
      {
         padding: 10px;
      }
      input[type=submit] {
       
       background-color:rgb(32, 162, 218);
       color: white;
       padding: 15px 15px;
       margin: 10px;
       border: none;
       border-radius: 4px;
       cursor:pointer;
       margin-left: 35%;
       width: 125px;
      
 
       }
       
       .ex1{
        border: 1px solid black;
        margin-left: 50px;
  width: 90%;
  margin-top: 30px;
  border-radius: 10px;
        text-align: center;
        background-color: white;
       }
       .ex2{
        margin-left: 50px;
       }
       .b1 img {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  height: 55px;
  width: 95px;
}
.foot
      {
        background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
height: 35px;
color: white;


      }
   </style>
  </head>
  <body>
    
      <div class = "b2">
        <h1>View Time table</h1>
        <form action="" method = "post">
               <table class="ex">
                <tr>
                    <td><label for="Year">Year</label></td>
                    <td>
                     <select name="Year" id="year" style="width: 150px;">
                       <option value="0">Select the Year</option>
                    <option value="1">1 year</option>
                     <option value="2">2 year</option>
                     <option value="3">3 year</option>
                      <option value="4">4 year</option>
                      </select></td></tr>
                      <tr></tr>
                      <td><label for="Section">Section</label></td>
                      <td>
                       <select name="Section" id="Section" style="width: 150px;">
                         <option value="0">Select the Section</option>
                      <option value="A">A Section</option>
                       <option value="B">B Section</option>
                       <option value="C">C Section</option>
                        </select></td></tr>
                      </table>
                            <input type="submit" name = "submit" value = "submit">
        </form>
      </div>
     <div>
        <h1 class="ex2">Timetable for <%= Year %> - <%= Section %></h1>
    <table border = 1 class="ex1" style = "border-collapse:collapse">
      <thead>
        <tr>
          <th>Day</th>
          <th>8:40 - 9:30</th>
          <th>9:30 - 10:20</th>
          <th>10:20 - 11:10</th>
          <th>11:10 - 12:00</th>
          <th>12:00 - 12:50</th>
          <th>12:50 - 01:40</th>
          <th>01:40 - 02:30</th>
          <th>02:30 - 03:20</th>
          <th>03:20 - 04:10</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < timetable.length; i++) { %>
          <tr>
            <td><%= timetable[i].Day %></td>
            <td><%= timetable[i].Period1 %></td>
            <td><%= timetable[i].Period2 %></td>
            <td><%= timetable[i].Period3 %></td>
            <td><%= timetable[i].Period4 %></td>
            <td>Lunch Break</td>
            <td><%= timetable[i].Period5 %></td>
            <td><%= timetable[i].Period6 %></td>
            <td><%= timetable[i].Period7 %></td>
            <td><%= timetable[i].Period8 %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
     </div>     
      
  </body>
  <footer>
    <br><br><br><br><br><br><br><br><br><br>
    <div class="foot" >
      <p style="text-align:center;">Copyright @ Team Anonymous</p> 
    </div>
  </footer>
</html>
